body {
  background-color: azure;
}

/* game board table */

#board td {
  width: 80px;
  height: 80px;
  border: solid 1px #666;
  background-color: aliceblue;
  box-shadow: 5px 5px 5px lightgray;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  border-radius: 50%;
  margin: 5px;
  width: 80%;
  height: 80%;
}

.piece.player1 {
  background-color: pink;
  border-style: solid magenta 1px;
}

.piece.player1:hover {
  border-style: solid black 1px;
}

.piece.player2 {
  background-color: teal;
  border-style: solid turquoise 1px;
}

.piece.player2:hover {
  border-style: solid black 1px;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border-style: none;
}

#column-top td:hover {
  background-color: lavender;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
